<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"  >
<head th:insert="~{base/header::header}">
    <meta charset="UTF-8">
</head>
<body>

<!--重新登录时会判断当前用户是否登录如果已经登录则返回主页否则返回登录页-->

<shiro:hasPermission th:name = "${SAVE_URL}">
<div class="cl pd-5 bg-1 bk-gray  ">
    <div th:class="l">
        <a href="javascript:;" class="btn btn-primary radius" style="margin:5px 0 0 5px"
           th:onclick="'javascript:add(\'添加\', \''+ @{/sys/permission/modify(parentId=${parentId})} +'\')'">
            <i class="Hui-iconfont">&#xe600;</i>添加
        </a>
    </div>
</div>
</shiro:hasPermission>
<table class="table table-border table-hover table-bg table-sort " style="min-width: 600px;" border="1" cellspacing="0">
    <tr>
        <th style="width: 10%;">排序</th>
        <th style="width: 10%;">是否可用</th>
        <th style="width: 10%;">是否显示</th>
        <th style="width:20%;">名称</th>
        <th style="width: 20%;">操作</th>
    </tr>
    <tr th:each="func , stat : ${functionlist}">
        <td th:text="${func.sort}"></td>

        <td th:if="${func.getAvailable() eq true}" th:text="可用"></td>
        <td th:if="${func.getAvailable() eq false}" th:text="废弃"></td>
        <td th:if="${func.getAvailable() != false && func.getAvailable() != true}" th:text="未知"></td>

        <td th:text="${func.getShowLeft() == true ?'展示':'隐藏'}"></td>

        <td th:text="${func.getName()}"></td>
        <td>
            <a th:href="@{${LIST_URL}(parentId=${func.id})}">子权限</a>
            <a th:href="@{${MODIFY_URL}(ids=${func.id})}">修改</a>
            <a th:text="${func.id}!=1?'删除':''" th:onclick="'javascript:confirm(\''+ @{${REMOVE_URL}(ids=${func.id})} +'\')'" href="javascript:void(0);">删除</a>
        </td>
    </tr>
</table>
</body>

<script>
    /**
     * 删除确认
     * @param url
     */
    function confirm(url) {
        layer.confirm('确认删除？', {btn: ['是', '否']}, function (index, layero) {
            window.location = url;
            layer.close(index);
        });
    }
</script>
</html>