<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{base/header::header2(~{::title},~{::link},~{})}">
    <title>选择角色</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sys/user/userRole.css}"/>
</head>
<body>
<!--重新登录时会判断当前用户是否登录如果已经登录则返回主页否则返回登录页-->
<form th:action="@{'/user/role'}" th:method="post">
    <table id="tableDiv" border="0" cellspacing="0" cellpadding="0"  class="table table-border table-hover table-bg table-sort " style="min-width: 600px;"  >
    </table>
</form>
<script th:src="@{/js/sys/user/userRole.js}"></script>
<script>
    $(function () {
        var data = [(${json})];
        var id = [(${id})];
        getData(data,id);
        $("#tableDiv tr td:even").css("background", "#cbeaf9");
    })
</script>
</body>
</html>