<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:insert="~{base/header::header}" >
    <meta charset="UTF-8">
    <title>角色更新</title>
</head>
<body>
<form style="text-align:center;" th:action="@{${UP_URL}}" th:method="post" class="form" enctype="multipart/form-data">

    <input th:name="id" type="hidden" th:value="${dbrole.getId()}">
    <label class="form-label">code</label>
    <input class="input-text" style="width: 200px" type="text" th:name="code" th:value="${dbrole.code}">

    <label class="form-label">角色名</label>
    <input class="input-text" style="width: 200px" type="text" th:name="name" th:value="${dbrole.name}">

    <label class="form-label">角色描述</label>
    <input class="input-text" style="width: 200px" type="text" th:name="remark" th:value="${dbrole.remark}">

    <div>
        <label class="form-label">是否可用&nbsp;&nbsp;</label>
        <input th:type="radio" th:id="isok" th:name="available" th:value="true" th:checked="${#bools.isTrue(dbrole.available)} ">
        <label th:for="isok">可用</label>
        <input th:type="radio" th:id="isno" th:name="available" th:value="false" th:checked="${#bools.isFalse(dbrole.available)}" >
        <label th:for="isno">不可用</label>
    </div>


    <input th:type="submit" class="btn btn-primary radius" style="margin:5px 0 0 5px" th:value="提交">
    <input th:type="reset" class="btn btn-default radius" style="margin:5px 0 0 5px" th:value="重置">
</form>
</body>
</html>