<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="foot">
<script type="text/javascript" th:src="@{/modules/h-ui/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/modules/h-ui/lib/layer/2.1/layer.js}"></script>
<script type="text/javascript" th:src="@{/modules/h-ui/lib/layer/2.1/extend/layer.ext.js}"></script>
<script type="text/javascript" th:src="@{/modules/h-ui/lib/icheck/jquery.icheck.min.js}"></script>
<script type="text/javascript" th:src="@{/modules/h-ui/lib/jquery.validation/1.14.0/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/modules/h-ui/lib/jquery.validation/1.14.0/messages_zh.min.js}"></script>
<script type="text/javascript" th:src="@{/modules/h-ui/lib/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" th:src="@{/modules/h-ui/js/H-ui.js}"></script>
<script type="text/javascript" th:src="@{/modules/h-ui/js/H-ui.admin.js}"></script>
</body>
</html>

